body {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.lyrics {
    font-size: 1.5rem;
    font-family: 'Eczar', serif;
}

.song-information {
    list-style: none;
    display: flex;
    justify-content: end;
}

.information {
    font-size: 1.4rem;
    margin: 1rem;
}

#btn {
    font-size: 20px;
    margin-top: 15px;
    padding: 8px 13px 8px 13px;
    border-radius: 5px;
    cursor: pointer;
}